# project-local contains your personal configuration choices and state
/anaconda-project-local.yml

# anaconda-project generated envs are stored within the project dir
*/envs

# Files autocreated by Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook stuff
*/.ipynb_checkpoints

# Spyder stuff
*/.spyderproject

# Pytest
*/.pytest_cache
