# project-local contains your personal configuration choices and state
/anaconda-project-local.yml

# anaconda-project generated envs are stored within the project dir
*/envs
*/assets/export

# Files autocreated by Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook stuff
*/.ipynb_checkpoints

# Pytest
*/.pytest_cache

# Example output
*/export

# Dask
*/dask-worker-space

# Doit
*.doit.db

# OSX
*.DS_Store

# nbsite
doc/index.rst

# Ignore output of get_evaluated_doc
doc/*/
!doc/_static/
!doc/_templates/

# Ignore output of doc_move_assets
assets/
# but don't ignore the projname/assets/
!*/assets/

# Ignore output of doc_build_website
jupyter_execute/
builtdocs/

# Ignore output of the git diff 
.diff

# Ignore output of test_small_data_setup
*/tmp_catalog.yml
