name: build one

on:
  workflow_call:
    inputs:
      project:
        description: Project to test
        required: true
        type: string
      type:
        description: hack
        required: true
        type: string
  workflow_dispatch:
    inputs:
      project:
        description: Project to build (dryrun only)
        required: true
        type: string

jobs:
  build_one:
    name: build ${{ inputs.project }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v3
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        auto-update-conda: true
        auto-activate-base: false
        activate-environment: examples-gallery-build
        environment-file: envs/environment-linux-64.lock
    - name: enable libmamba
      run: |
        conda activate base
        conda install conda-libmamba-solver
        conda config --set solver libmamba
    - name: prepare project
      run: doit build_prepare_project:${{ inputs.project }}
    - name: process notebooks
      run: doit build_process_notebooks:${{ inputs.project }}
    - uses: actions/upload-artifact@v3
      with:
        name: ${{ inputs.project }}
        path: doc/${{ inputs.project }}/
        retention-days: 3
    - name: deploy project
      # Only push to the branch when the workflow is called by pr_flow.yml -> build.yml
      # Could be updated to allow to build projects using worfklow_dispatch to see
      # the evaluated output of a project.
      if: inputs.type == 'workflow_call'
      run: |
        DIR=${{ inputs.project }}
        BRANCHNAME="tmp_evaluated_fghgf_${{ github.ref_name }}"
        git config user.email "travis@travis.org"
        git config user.name "travis"
        mv ./doc/$DIR ./tmp
        # Fetch main to check it out again
        git fetch https://github.com/${GITHUB_REPOSITORY}.git main:refs/remotes/main
        git fetch https://github.com/${GITHUB_REPOSITORY}.git $BRANCHNAME:refs/remotes/$BRANCHNAME || echo "Branch $BRANCHNAME not yet created"
        git checkout $BRANCHNAME || git switch --orphan $BRANCHNAME
        git log --oneline
        mkdir -p doc
        git diff
        if [ -d  ./doc/$DIR ]; then rm -rf ./doc/$DIR; fi
        mkdir ./doc/$DIR
        mv ./tmp/* ./doc/$DIR
        rmdir ./tmp
        git add ./doc/$DIR
        git commit -m "adding $DIR"
        git push --force "https://pyviz-developers:${{ secrets.GITHUB_TOKEN }}@github.com/pyviz-topics/examples.git" HEAD:$BRANCHNAME
        git checkout main
    - name: clean up
      run: doit clean --clean-dep build
    - name: git diff
      run: git diff
    - name: check clean up
      run: git diff --quiet --exit-code
