name: docs

on: [push]

jobs:
  build_docs:
    name: Documentation
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
    timeout-minutes: 120
    defaults:
      run:
        shell: bash -l {0}
    env:
      DESC: "Documentation build"
      CHANS_DEV: "-c pyviz/label/dev -c conda-forge"
    if: "contains(github.event.head_commit.message, 'build:') || github.ref == 'refs/heads/master'"
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
      - name: conda setup
        run: |
          conda config --set always_yes True
          conda install -c pyviz "pyctdev>=0.5"
          doit ecosystem_setup
          doit env_create ${{ env.CHANS_DEV}} --python=3.7
      - name: doit develop_install
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          conda install -y ${{ env.CHANS_DEV}} "nbsite>=0.6.5" "nbconvert<6" "jupyter_client<6.2" sphinx_pyviz_theme lxml pyyaml holoviews nomkl "parso>=0.8,<0.9"
      - name: Wait for build to succeed
        uses: fountainhead/action-wait-for-check@v1.0.0
        if: "contains(github.event.head_commit.message, 'build:')"
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          checkName: "Build project with Python 3.7"
      - name: checkout evaluated
        run: |
          git checkout -b deploy-${GITHUB_REF#refs/*/}
          git fetch https://github.com/${GITHUB_REPOSITORY}.git evaluated:refs/remotes/evaluated
          git checkout evaluated -- ./doc
      - name: doit env_capture
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          doit env_capture
      - name: build docs
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          doit build_website
          doit index_redirects
          sudo chown -R $(id -u):$(id -g) ./builtdocs   
      - name: Deploy dev
        uses: crazy-max/ghaction-github-pages@v2
        if: "!contains(github.event.head_commit.message, 'website_release')"
        with:
          repo: pyviz-dev/examples
          build_dir: ./builtdocs
          jekyll: false
        env:
          GH_PAT: ${{ secrets.ACCESS_TOKEN }}
      - name: Deploy main
        uses: crazy-max/ghaction-github-pages@v2
        if: "contains(github.event.head_commit.message, 'website_release')"
        with:
          build_dir: ./builtdocs
          fqdn: examples.pyviz.org
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
