name: test one

on:
  # Make it a reusable workflow
  workflow_call:
    inputs:
      project:
        description: Project to test
        required: true
        type: string
  # Run it from the UI
  workflow_dispatch:
    inputs:
      project:
        description: Project to test
        required: true

env:
  EXAMPLES_HOLOVIZ_AE5_ADMIN_USERNAME: ${{ secrets.EXAMPLES_HOLOVIZ_AE5_ADMIN_USERNAME }}
  EXAMPLES_HOLOVIZ_AE5_ADMIN_PASSWORD: ${{ secrets.EXAMPLES_HOLOVIZ_AE5_ADMIN_PASSWORD }}
  EXAMPLES_HOLOVIZ_AE5_USERNAME: ${{ secrets.EXAMPLES_HOLOVIZ_AE5_USERNAME }}
  EXAMPLES_HOLOVIZ_AE5_PASSWORD: ${{ secrets.EXAMPLES_HOLOVIZ_AE5_PASSWORD }}

jobs:
  infer_runner:
    name: infer runner
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    timeout-minutes: 10
    outputs:
      runner: ${{ steps.set-runner.outputs.runner }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: install deps
      # Minimal required deps to run the following script
      run: pip install doit pyyaml
    - name: infer runner
      id: set-runner
      run: |
        RUNNER=$(doit util_gh_runner:${{ inputs.project }} | tail -n -1)
        echo "GH runner: $RUNNER"
        echo "RUNNER=$RUNNER" >> $GITHUB_OUTPUT
  test_one:
    needs: infer_runner
    name: test ${{ inputs.project }}
    runs-on: ${{ needs.infer_runner.outputs.runner }}
    env:
      # Validation warnings set to raise an error
      EXAMPLES_HOLOVIZ_WARNING_AS_ERROR: 1
    defaults:
      run:
        shell: bash -l {0}
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        miniconda-version: "latest"
        auto-update-conda: false
        auto-activate-base: false
        activate-environment: examples-gallery-manage
        environment-file: envs/environment-${{ needs.infer_runner.outputs.runner }}.lock
    - name: validate anaconda-project file
      run: doit validate_project_file:${{ inputs.project }}
    - name: validate anaconda-project lock file
      run: doit validate_project_lock:${{ inputs.project }}
    - name: validate notebook v7 pinned
      run: doit validate_notebook_v7_pinned:${{ inputs.project }}
    - name: validate intake catalog
      run: doit validate_intake_catalog:${{ inputs.project }}
    - name: validate data sources
      run: doit validate_data_sources:${{ inputs.project }}
    - name: validate notebooks content
      run: doit validate_notebooks_content:${{ inputs.project }}
    - name: validate small test data
      run: doit validate_small_test_data:${{ inputs.project }}
    - name: validate index notebook
      run: doit validate_index_notebook:${{ inputs.project }}
    - name: validate notebook header
      run: doit validate_notebook_header:${{ inputs.project }}
    - name: validate thumbnails
      run: doit validate_thumbnails:${{ inputs.project }}
    - name: "AE5: validate deployment"
      run: doit ae5_validate_deployment --name ${{ inputs.project }}
    - name: small data setup
      run: doit test_small_data_setup:${{ inputs.project }}
    - name: prepare project
      run: doit test_prepare_project:${{ inputs.project }}
    - name: lint project
      run: doit test_lint_project:${{ inputs.project }}
    - name: test project
      run: doit test_project:${{ inputs.project }}
    - name: complete clean up and diff
      run: |
        doit clean --clean-dep test
        git diff --name-only
    - name: Check clean up
      run: git diff --quiet --exit-code
